.container {
    position: relative;
    width: 33%;
    height: 300px;
    background-color: #fcfcfc;
    border-radius: 20px;
}

.title {
    position: absolute;
    top: 10px;
    left: 35px;
}

.customScore {
    font-size: 1.5rem;
}

.customLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-size: 1.13rem;
    padding: 7% 9%;
    margin: 0;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .container {
        height: 190px;
    }

    .title {
        top: 0;
        left: 20px;
        font-size: 0.8rem;
    }

    .customScore {
        font-size: 1.2rem;
    }

    .customLabel {
        font-size: 0.9rem;
    }
}