.user_nutrition {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nutrition_category {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBFBFB;
    height: 12.5vh;
    width: 200px;
    border-radius: 10px;
}

.icon {
    height: 3.75rem;
    width: 3.75rem;
}

.nutrition_infos {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.unit {
    font-size: 1.2rem;
    font-family: "Roboto-Bold";
}

.macronutriment {
    color: #74798C;
}

@media screen and (max-width: 1024px) {
    .user_nutrition {
        gap: 30px;
    }
}